html {
  margin: 0;
  background-color: #000000;
}
body {
  margin: 0;
}
@font-face {
  font-family: PokeDialog;
  src: url("pkmndp.ttf");
  font-weight: normal;
}
@font-face {
  font-family: PokeDialog;
  src: url("pkmndpb.ttf");
  font-weight: bold;
}
.canvas-wrap {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
#canvas-ui {
  position: relative;
  float: left;
  width: 600px;
  height: 500px;
}
#canvas-ui .skrim {
  background-color: #000000;
  position: absolute;
  width: 600px;
  height: 500px;
}
#preloadScreen {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: #FFFFFF;
  z-index: 5;
}
#overtable {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border: none;
}
#overtable td {
  padding: 0;
}
#gamescreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 500px;
  z-index: -10;
}
/*
#left-sidebar {
	float: left;
	width: @chat-width;
	max-width: @chat-width;
	min-width: @chat-width-min;
} 
*/
#right-sidebar {
  background-color: #F2F2F2;
  width: 400px;
  min-width: 280px;
}
#right-sidebar .wrapper {
  position: relative;
  height: 100%;
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#right-sidebar .header {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  font-size: 0px;
  background-color: #F2F2F2;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  z-index: 10;
}
#right-sidebar .header:before,
#right-sidebar .header:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  background-color: #F2F2F2;
}
#right-sidebar .header:before {
  left: -15px;
}
#right-sidebar .header:after {
  right: -15px;
}
#right-sidebar .header .tab {
  display: inline-block;
  padding: 10px 14px;
  margin: 0 6px;
  font-size: 14px;
  border-right: 1px rgba(0, 0, 0, 0.2) solid;
  border-left: 1px rgba(0, 0, 0, 0.2) solid;
  cursor: pointer;
}
#right-sidebar .header .tab.selected {
  color: #FFFFFF;
  background-color: #6441A5;
}
#right-sidebar .header .tab:first-child {
  margin-left: 0;
}
#right-sidebar .header #tab-dex.selected {
  background-color: #B52323;
}
#right-sidebar .tabcontainer {
  display: none;
  position: relative;
  background-color: #F2F2F2;
  padding: 0px 15px;
  height: 100%;
}
#chat-container .interface {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 90px;
  padding: 10px 0px;
}
#chat-container .messages {
  position: absolute;
  top: 40px;
  bottom: 110px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
#chat-container .chatbox {
  width: 100%;
  height: 50px;
  padding: 7px;
  color: #666666;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin-bottom: 5px;
  font: inherit;
  resize: none;
  box-sizing: border-box;
}
#chat-container .send-chat-button {
  background-color: #6441A5;
  color: #FFFFFF;
  font-size: 12px;
  padding: 0px 10px;
  display: inline-block;
  cursor: pointer;
  line-height: 30px;
  border: 0px none;
  float: right;
}
#chat-container .more-messages {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: -22;
  left: 0px;
  right: 0px;
  padding: 2px 0px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s ease-in-out 0s;
}
#chat-container .chat-lines {
  padding: 0 15px;
}
#chat-container .chat-line {
  line-height: 20px;
  padding: 4px 0px;
  list-style-position: unset;
  list-style-type: none;
}
#chat-container .chat-line.admin {
  padding: 10px 0px;
}
#chat-container .chat-line .badges {
  float: left;
}
#chat-container .chat-line .from {
  font-weight: bold;
}
#chat-container .chat-line .colon {
  margin-right: 2px;
}
#chat-container .chat-line .message {
  color: #666666;
}
#dex-container.tabcontainer {
  background-color: #B52323;
}
#dex-container.tabcontainer .omnibar {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 20px;
  padding: 5px;
}
#dex-container.tabcontainer .omnibar button,
#dex-container.tabcontainer .omnibar input {
  padding: 3px 8px;
  font-size: 14px;
}
#dex-container.tabcontainer .omnibar .search {
  overflow: hidden;
}
#dex-container.tabcontainer .omnibar .search input {
  width: 100%;
}
#dex-container.tabcontainer .omnibar .float-right {
  display: inline-block;
  float: right;
}
#dex-container.tabcontainer .omnibar .float-left {
  display: inline-block;
  float: left;
}
#dex-container.tabcontainer .omnibar .clear {
  clear: both;
}
#dex-container.tabcontainer .breadcrumb {
  font-size: 14px;
  list-style: none;
  display: inline-block;
  margin: 4px 0;
  padding: 0px;
  height: 26px;
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  direction: rtl;
}
#dex-container.tabcontainer .breadcrumb li {
  display: table-cell;
}
#dex-container.tabcontainer .breadcrumb li a {
  color: #000000;
  display: block;
  background: #FFF373;
  text-decoration: none;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 5px 0 5px;
  text-align: center;
  margin-right: 11px;
}
#dex-container.tabcontainer .breadcrumb li:only-child {
  display: block;
}
#dex-container.tabcontainer .breadcrumb li:last-child a {
  padding-left: 11px;
}
#dex-container.tabcontainer .breadcrumb li:last-child a:before {
  border: none;
}
#dex-container.tabcontainer .breadcrumb li:first-child {
  width: 100%;
}
#dex-container.tabcontainer .breadcrumb li:first-child a {
  padding-right: 11px;
  margin-right: 0px;
}
#dex-container.tabcontainer .breadcrumb li:first-child a:after {
  border: none;
}
#dex-container.tabcontainer .breadcrumb li a:before,
#dex-container.tabcontainer .breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #FFF373;
  border-width: 13px 0px 13px 8px;
  width: 0;
  height: 0;
}
#dex-container.tabcontainer .breadcrumb li a:before {
  left: -8px;
  border-left-color: transparent;
}
#dex-container.tabcontainer .breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #FFF373;
}
#dex-container.tabcontainer .breadcrumb li a:hover,
#dex-container.tabcontainer .breadcrumb li a.selected {
  color: #FFFFFF;
  background-color: #d83333;
}
#dex-container.tabcontainer .breadcrumb li a:hover:before,
#dex-container.tabcontainer .breadcrumb li a.selected:before {
  border-color: #d83333;
  border-left-color: transparent;
}
#dex-container.tabcontainer .breadcrumb li a:hover:after,
#dex-container.tabcontainer .breadcrumb li a.selected:after {
  border-left-color: #d83333;
}
#dex-container.tabcontainer .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 102px;
  margin: 3px;
  background-color: #F2F2F2;
  border: 2px inset #B52323;
  overflow-y: scroll;
}
#dex-container.tabcontainer .content index,
#dex-container.tabcontainer .content pokemon,
#dex-container.tabcontainer .content trainer,
#dex-container.tabcontainer .content event {
  display: block;
}
#dex-container.tabcontainer .content index a {
  cursor: pointer;
  display: list-item;
  list-style-type: disc;
  margin-left: 1em;
}
#statusbar {
  float: left;
  width: 596px;
  min-height: 12px;
  height: 76px;
  border: ridge 2px #cccccc;
  background-color: #eeeeee;
  color: #000000;
}
.dialogbox {
  position: absolute;
  display: inline-block;
  max-width: 400px;
  padding: 2px 6px;
  font-family: PokeDialog, "Small Fonts", monospace;
  font-size: 22px;
}
.dialogbox.text {
  margin: 6px 20px 8px 9px;
}
.dialogbox.dialog {
  margin: 6px 6px 9px 6px;
}
hlt {
  color: #FF0000;
}
.twitchemote {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('twitch_emotes.png');
}
.em-DansGame {
  width: 25px;
  height: 32px;
  margin: -7px 0;
  background-position: -2px -2px;
}
.em-PraiseIt {
  width: 26px;
  height: 26px;
  margin: -4px 0;
  background-position: -2px -36px;
}
.em-BibleThump {
  width: 36px;
  height: 30px;
  margin: -6px 0;
  background-position: -29px -2px;
}
.em-BloodTrail {
  width: 41px;
  height: 28px;
  margin: -5px 0;
  background-position: -30px -34px;
}
.em-PJSalt {
  width: 36px;
  height: 30px;
  margin: -6px 0;
  background-position: -67px -2px;
}
.em-BabyRage {
  width: 28px;
  height: 28px;
  margin: -5px 0;
  background-position: -73px -34px;
}
.em-HeyGuys {
  width: 28px;
  height: 28px;
  margin: -5px 0;
  background-position: -103px -34px;
}
.em-BionicBunion {
  width: 30px;
  height: 30px;
  margin: -6px 0;
  background-position: -105px -2px;
}
.em-ResidentSleeper {
  width: 28px;
  height: 28px;
  margin: -5px 0;
  background-position: -133px -34px;
}
.em-WinWaker {
  width: 27px;
  height: 30px;
  margin: -6px 0;
  background-position: -137px -2px;
}
.em-ShibeZ {
  width: 28px;
  height: 28px;
  margin: -5px 0;
  background-position: -163px -34px;
}
.em-BigBrother {
  width: 24px;
  height: 30px;
  margin: -6px 0;
  background-position: -166px -2px;
}
.em-DatSheffy {
  width: 24px;
  height: 30px;
  margin: -6px 0;
  background-position: -192px -2px;
}
.em-BrokeBack {
  width: 22px;
  height: 28px;
  margin: -5px 0;
  background-position: -193px -34px;
}
.em-EleGiggle {
  width: 22px;
  height: 28px;
  margin: -5px 0;
  background-position: -217px -34px;
}
.em-TriHard {
  width: 24px;
  height: 30px;
  margin: -6px 0;
  background-position: -218px -2px;
}
.em-OMGScoots {
  width: 22px;
  height: 28px;
  margin: -5px 0;
  background-position: -241px -34px;
}
.em-PogChamp {
  width: 23px;
  height: 30px;
  margin: -6px 0;
  background-position: -244px -2px;
}
.em-Kappa {
  width: 21px;
  height: 28px;
  margin: -5px 0;
  background-position: -265px -34px;
}
.em-SoonerLater {
  width: 23px;
  height: 30px;
  margin: -6px 0;
  background-position: -269px -2px;
}
.em-KappaHD {
  width: 21px;
  height: 28px;
  margin: -5px 0;
  background-position: -288px -34px;
}
.em-BrainSlug {
  width: 22px;
  height: 30px;
  margin: -6px 0;
  background-position: -294px -2px;
}
.em-SwiftRage {
  width: 21px;
  height: 28px;
  margin: -5px 0;
  background-position: -311px -34px;
}
.em-FailFish {
  width: 22px;
  height: 30px;
  margin: -6px 0;
  background-position: -318px -2px;
}
.em-MrDestructoid {
  width: 39px;
  height: 27px;
  margin: -4.5px 0;
  background-position: -334px -34px;
}
.em-DBStyle {
  width: 21px;
  height: 30px;
  margin: -6px 0;
  background-position: -342px -2px;
}
.em-OpieOP {
  width: 21px;
  height: 30px;
  margin: -6px 0;
  background-position: -365px -2px;
}
.em-GasJoker {
  width: 28px;
  height: 27px;
  margin: -4.5px 0;
  background-position: -375px -34px;
}
.em-4Head {
  width: 20px;
  height: 30px;
  margin: -6px 0;
  background-position: -388px -2px;
}
.em-KevinTurtle {
  width: 21px;
  height: 27px;
  margin: -4.5px 0;
  background-position: -405px -34px;
}
.em-Keepo {
  width: 27px;
  height: 29px;
  margin: -5.5px 0;
  background-position: -410px -2px;
}
.em-OneHand {
  width: 20px;
  height: 27px;
  margin: -4.5px 0;
  background-position: -428px -33px;
}
.em-KAPOW {
  width: 28px;
  height: 25px;
  margin: -3.5px 0;
  background-position: -450px -2px;
}
.em-Kreygasm {
  width: 19px;
  height: 27px;
  margin: -4.5px 0;
  background-position: -450px -29px;
}
#touchcontrols {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.dpad {
  position: absolute;
  width: 50px;
  height: 50px;
}
@media (orientation: portrait) {
  .dpad {
    bottom: 100px;
    left: 100px;
  }
}
@media (orientation: landscape) {
  .dpad {
    bottom: 50%;
    left: 100px;
  }
}
.button {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.3);
  width: 80px;
  height: 80px;
  display: table;
}
.button:after {
  display: table-cell;
  color: rgba(200, 200, 200, 0.8);
  vertical-align: middle;
  text-align: center;
}
.button.a:after {
  content: "A";
}
@media (orientation: portrait) {
  .button.a {
    bottom: 60%;
    right: 10px;
  }
}
@media (orientation: landscape) {
  .button.a {
    bottom: 60%;
    right: 20px;
  }
}
.button.b:after {
  content: "B";
}
@media (orientation: portrait) {
  .button.b {
    bottom: 30%;
    right: 20px;
  }
}
@media (orientation: landscape) {
  .button.b {
    bottom: 38%;
    right: 10px;
  }
}
.button.run:after {
  content: "Run";
}
@media (orientation: portrait) {
  .button.run {
    bottom: 20px;
    right: 20px;
  }
}
@media (orientation: landscape) {
  .button.run {
    bottom: 48%;
    right: 80px;
  }
}
.button.menu {
  width: 110px;
  height: 60px;
}
.button.menu:after {
  content: "Start";
}
@media (orientation: portrait) {
  .button.menu {
    top: 10px;
    left: 20px;
  }
}
@media (orientation: landscape) {
  .button.menu {
    top: 10px;
    right: 20px;
  }
}
.button.up {
  border-radius: 0%;
  height: 90px;
  width: 60px;
  bottom: 50px;
  left: -5px;
}
.button.up:after {
  content: "/\\";
}
.button.down {
  border-radius: 0%;
  height: 90px;
  width: 60px;
  top: 50px;
  left: -5px;
}
.button.down:after {
  content: "\\/";
}
.button.left {
  border-radius: 0%;
  height: 60px;
  width: 90px;
  right: 50px;
  top: -5px;
}
.button.left:after {
  content: "<";
}
.button.right {
  border-radius: 0%;
  height: 60px;
  width: 90px;
  left: 50px;
  top: -5px;
}
.button.right:after {
  content: ">";
}
